$primaryColor: #1F68A8
$darkPrimaryColor: #1D4D76
$lightPrimaryColor: #2B71AE 
$navbarHeight: 5em
$fullScreenMinusNavHeight: calc(100vh - 5em)

$gutterMargin: 8em
.gutter-margin
  margin: 0em $gutterMargin

$smallScreen: 1050px
$iconSize: 24px

$fontColor: $primaryColor
$bgColor: grey
$secondaryColor: $lightPrimaryColor

// $primaryFont: 
